.profile-header {
  display: flex;
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-color: #1d1e22;;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 5px;
}

.profile-header div {
  display: flex;
  color: #feda6a;
  position: relative;
  text-align: center;
}

h2 b {
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}