nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  width: 100vw;
  z-index: 3;
  background-color: #4056A1;
  padding: 1.5em;
  color: #FFFFFF;
  justify-content: space-between;
}

#compose-tweet {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  align-items: center;
}

.fa-angle-double-down {
  display: flex;
  color: rgb(255, 166, 0);
}