nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  width: 100vw;
  z-index: 3;
  background-color: #D6DAFF;
  padding: 1.5em;
}

nav span {
  font-family: 'Bungee', sans-serif;
  color: #ffffff;
}